<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software II</title>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdnoo.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/bootstrap/css/bootstrap.min.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">UAGRM - Software II</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
            </ul>
            </div>
        </div>
    </nav>      
    <div class="container mt-5">
      <div class="row">
        <form method="post" action="/predecir">
          <input type="hidden" name="Valor" value="META">
          <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card bg-primary text-dark">
              <div class="card-body">
                  <h5>Meta</h5>
                  <input type="number" name="M1" placeholder="Media movil 1">
                  <input type="number" name="M2" placeholder="Media movil 2">
                  <input type="number" name="M3" placeholder="Media movil 3">
                  <input type="number" name="M4" placeholder="Media movil 4">
                  <input type="number" name="Periodo" placeholder="periodo en días">
                  <input type="submit" value="Predecir modelo">
              </div>
            </div>
          </div>
        </form>
        <form method="post" action="/predecir">
          <input type="hidden" name="Valor" value="GOOGLE">
          <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card bg-danger text-dark">
              <div class="card-body">
                  <h5>Google</h5>
                  <input type="number" name="M1" placeholder="Media movil 1">
                  <input type="number" name="M2" placeholder="Media movil 2">
                  <input type="number" name="M3" placeholder="Media movil 3">
                  <input type="number" name="M4" placeholder="Media movil 4">
                  <input type="number" name="Periodo" placeholder="periodo en días">
                  <input type="submit" value="Predecir modelo">
              </div>
            </div>
          </div>
        </form>
        <form method="post" action="/predecir">
          <input type="hidden" name="Valor" value="MCDONALD">
          <div class="col-sm-12 col-md-6 col-lg-4 mb-4">
            <div class="card bg-warning text-dark">
              <div class="card-body">
                  <h5>McDonald's</h5>
                  <input type="number" name="M1" placeholder="Media movil 1">
                  <input type="number" name="M2" placeholder="Media movil 2">
                  <input type="number" name="M3" placeholder="Media movil 3">
                  <input type="number" name="M4" placeholder="Media movil 4">
                  <input type="number" name="Periodo" placeholder="periodo en días">
                  <input type="submit" value="Predecir modelo">
              </div>
            </div>
          </div>
        </form>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
  </body>
</html>
